
.text-age {
  width: 2rem;
}

.input {
  display: inline-block;
  vertical-align: middle;
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}

.field {
  display: block;
  vertical-align: middle;
}
